{% extends "index.html" %}

{% block content %}
<div class="question-container">
    <h1 class="question-heading">
        What is taught to kids in Japan during holiday programs?
    </h1>

    <div class="options">
        <button type="button" class="option-button" id="button1">1. Making a robotic head</button>
        <button type="button" class="option-button" id="button2">2. Programming a robot</button>
        <button type="button" class="option-button" id="button3">3. Making a robotic arm</button>
        <button type="button" class="option-button" id="button4">4. Collaborating with a robot</button>
    </div>

</div>

<script>


    document.getElementById("button1").addEventListener("click", function() {
        sendDataToServer("Wrong answer", "/wrong_answer");
    });
    document.getElementById("button2").addEventListener("click", function() {
        sendDataToServer("Wrong answer", "/wrong_answer");
    });
    document.getElementById("button3").addEventListener("click", function() {
        sendDataToServer("Correct answer", "/correct_answer");
    });
    document.getElementById("button4").addEventListener("click", function() {
        sendDataToServer("Wrong answer", "/wrong_answer");
    });

    function sendDataToServer(data, nextPage) {
        fetch('/endpoint', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ 'data': data }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            // Change the page after sending data to the server
            if (nextPage) {
                window.location.href = nextPage;
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

</script>

{% endblock %}
